
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-image: url('LatarISBN.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

.container {
    width: 400px;
    margin: 120px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 25px;
    border-radius: 12px;
    backdrop-filter: blur(8px);
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

h2 {
    margin-bottom: 20px;
    color: #10a8ca;
    font-size: 28px;
    text-shadow: 0 0 5px black;
}


input {
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    width: 95%;
    padding: 14px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #fdaeea;
    color: rgb white;
    transition: 0.3s;
}

button:hover {
    background: #fdaeea
}

#hasil {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: white;
    text-shadow: 0 0 5px black;

}

